In [73]:
import pandas as pd
import numpy as np

In [ ]:
kapil=pd.read_csv("FINAL.csv")

In [18]:
# Setting display options
pd.set_option('display.max_rows', None)  # Show all rows
pd.set_option('display.max_columns', None)  # Show all columns
pd.set_option('display.width', None)  # Adjust width to display DataFrame without truncation
pd.set_option('display.max_colwidth', None)  # Show full column width without truncation

In [100]:
kapil.head()

,Unnamed: 0,Restuarantid,Restaurant,Restaurant_Type,Price_for_two,Cuisine,Location,Area,Link,Timing,Dining_Review_Count,Dining_Rating,Delivery_Rating,Delivery_Review_Count,Price per Person,Rating Category,Total Review Count,Popularity score,price range category,Average_Rating
0,0,1,Öz by Kebapci,"Turkish, Mediterranean, Middle Eastern",1800,Turkish,"UB City, Bangalore",UB City,https://www.zomato.com/bangalore/öz-by-kebapci-lavelle-road-bangalore/info,12:30pm – 12:30am (Today),819,4.5,0.0,0,900,Excellent,819,3686.5,Medium,2.25
1,1,2,Over Coffee Cafe & Wine Bar,"European, Italian, Continental, Cafe, Coffee",1200,European,"Lavelle Road, Bangalore",Lavelle Road,https://www.zomato.com/bangalore/over-coffee-cafe-wine-bar-lavelle-road-bangalore/info,Opens tomorrow at 12noon,560,4.7,3.9,19,600,Excellent,579,2722.3,Medium,4.30
2,2,3,Babylonia - Global Food & Cocktails,"Continental, North Indian, Asian, Italian, Mughlai, Mediterranean, Bar Food, Desserts",1500,Continental,"Koramangala 7th Block, Bangalore",Koramangala 7th Block,https://www.zomato.com/bangalore/babylonia-global-food-cocktails-koramangala-7th-block-bangalore/info,12noon – 12:30am (Today),1203,4.5,3.5,26,750,Excellent,1229,5531.5,Medium,4.00
3,3,4,Oney Brewhouse,"American, Continental, Italian, South Indian, North Indian, Asian, Chinese",1500,American,"Cunningham Road, Bangalore",Cunningham Road,https://www.zomato.com/bangalore/oney-brewhouse-cunningham-road-bangalore/info,12noon – 12midnight (Today),231,4.1,0.0,0,750,Good,231,948.1,Medium,2.05
4,4,5,Homiga,"Korean, Asian",1500,Korean,"Forum Rex Walk, Bangalore",Forum Rex Walk,https://www.zomato.com/bangalore/homiga-brigade-road-bangalore/info,"24 Hours, 12:30pm – 4:30pm, 6:30pm – 12midnight (Today)",207,4.4,0.0,0,750,Good,207,911.8,Medium,2.20

In [20]:
kapil.to_excel("FINAL!.xlsx",index=False)

In [101]:
kapil.head()

,Unnamed: 0,Restuarantid,Restaurant,Restaurant_Type,Price_for_two,Cuisine,Location,Area,Link,Timing,Dining_Review_Count,Dining_Rating,Delivery_Rating,Delivery_Review_Count,Price per Person,Rating Category,Total Review Count,Popularity score,price range category,Average_Rating
0,0,1,Öz by Kebapci,"Turkish, Mediterranean, Middle Eastern",1800,Turkish,"UB City, Bangalore",UB City,https://www.zomato.com/bangalore/öz-by-kebapci-lavelle-road-bangalore/info,12:30pm – 12:30am (Today),819,4.5,0.0,0,900,Excellent,819,3686.5,Medium,2.25
1,1,2,Over Coffee Cafe & Wine Bar,"European, Italian, Continental, Cafe, Coffee",1200,European,"Lavelle Road, Bangalore",Lavelle Road,https://www.zomato.com/bangalore/over-coffee-cafe-wine-bar-lavelle-road-bangalore/info,Opens tomorrow at 12noon,560,4.7,3.9,19,600,Excellent,579,2722.3,Medium,4.30
2,2,3,Babylonia - Global Food & Cocktails,"Continental, North Indian, Asian, Italian, Mughlai, Mediterranean, Bar Food, Desserts",1500,Continental,"Koramangala 7th Block, Bangalore",Koramangala 7th Block,https://www.zomato.com/bangalore/babylonia-global-food-cocktails-koramangala-7th-block-bangalore/info,12noon – 12:30am (Today),1203,4.5,3.5,26,750,Excellent,1229,5531.5,Medium,4.00
3,3,4,Oney Brewhouse,"American, Continental, Italian, South Indian, North Indian, Asian, Chinese",1500,American,"Cunningham Road, Bangalore",Cunningham Road,https://www.zomato.com/bangalore/oney-brewhouse-cunningham-road-bangalore/info,12noon – 12midnight (Today),231,4.1,0.0,0,750,Good,231,948.1,Medium,2.05
4,4,5,Homiga,"Korean, Asian",1500,Korean,"Forum Rex Walk, Bangalore",Forum Rex Walk,https://www.zomato.com/bangalore/homiga-brigade-road-bangalore/info,"24 Hours, 12:30pm – 4:30pm, 6:30pm – 12midnight (Today)",207,4.4,0.0,0,750,Good,207,911.8,Medium,2.20

# **Area-wise distribution of restaurant**

In [22]:
kapil["Area"].value_counts()

Area
Indiranagar                                       58
JP Nagar                                          34
HSR                                               27
Koramangala 5th Block                             26
Sarjapur Road                                     20
Marathahalli                                      14
Jayanagar                                         13
Brigade Road                                      12
Whitefield                                        12
Electronic City                                    9
Bannerghatta Road                                  9
Church Street                                      8
MG Road                                            7
Koramangala 6th Block                              7
Koramangala 4th Block                              7
Phoenix Marketcity Bangalore                       7
Kalyan Nagar                                       7
Phoenix Mall of Asia                               7
Forum Rex Walk                                     7
Koramangala 7th Block                              7
St. Marks Road                                     6
New BEL Road                                       6
Lavelle Road                                       6
BTM                                                5
Sahakara Nagar                                     5
Rajarajeshwari Nagar                               5
UB City                                            5
Cunningham Road                                    5
RMZ Ecoworld                                       4
Hebbal                                             4
Bellandur                                          4
Bommanahalli                                       4
The Leela Palace                                   3
Varthur Main Road                                  3
1 Sobha                                            3
Nagawara                                           3
Forum Falcon City Mall                             3
Yelahanka                                          3
Nexus Shantiniketan                                3
Hennur                                             3
Malleshwaram                                       3
Sheraton Grand Bangalore                           3
Koramangala 8th Block                              3
1 MG Road Mall                                     3
Koramangala 3rd Block                              2
Ascendas Park Square                               2
Holiday Inn                                        2
Barton Centre                                      2
Courtyard by Marriott                              2
Radisson Blu                                       2
Nagarbhavi                                         2
ITPL Main Road                                     2
Craftworks                                         2
The Leela Bhartiya City                            2
Goldfinch Hotel                                    2
Kumaraswamy Layout                                 2
Embassy Manyata Business Park                      2
Residency Road                                     2
Ulsoor                                             2
Richmond Road                                      2
JW Marriott Bengaluru                              2
Old Airport Road                                   2
Hotel Southern Star                                2
Hilton Bangalore Embassy GolfLinks                 2
Kadubeesanahalli                                   2
Brookefield                                        2
Seegehalli                                         2
Garuda Mall                                        2
Chanapatna                                         2
Bhartiya Mall of Bengaluru                         2
The Chancery Pavilion                              2
Aloft Bengaluru Cessna Business Park               1
The President Hotel                                1
Shubh Enclave                                      1
Jakkur                                             1
Basavanagudi                                       1
Domlur                                             1
Kammanahalli                                       1
RMZ Infinity                                       1
Divyasree Technopark                               1
VR Bengaluru                                       1
Forum Neighbourhood Mall                           1
Richmond Town                                      1
ITC Gardenia                                       1
Sankey Road                                        1
The Oberoi                                         1
Royal Orchid Central                               1
BluPetal Hotel                                     1
Kanakapura Road                                    1
RT Nagar                                           1
Ibis Hebbal                                        1
Vega City                                          1
The Paul Bangalore                                 1
The Ritz-Carlton                                   1
World Trade Center                                 1
HBR Layout                                         1
Hotel Country Inn                                  1
Gilly's Redefined                                  1
Building 105                                       1
Shanti Nagar                                       1
Hilton Bengaluru Embassy Manyata Business Park     1
RMZ Azure                                          1
KR Puram                                           1
The Den                                            1
Radisson Bangalore City Centre                     1
Mahadevapura                                       1
Majestic                                           1
Lulu Mall                                          1
Mantri Square                                      1
Orion Mall                                         1
Eva Mall                                           1
Banashankari                                       1
Livin Hub Hotel                                    1
Renaissance Hotel                                  1
Basaveshwara Nagar                                 1
Esteem Mall                                        1
Conrad Bengaluru                                   1
Nexus                                              1
Koramangala 1st Block                              1
DoubleTree by Hilton                               1
Sheraton Grand Bengaluru                           1
Royal Meenakshi Mall                               1
Navarathna Agrahara International Airport          1
DoubleTree Suites By Hilton                        1
Citrine Hotel                                      1
Name: count, dtype: int64

# **Which is the cheapest and most expensive restaurant for each type of cuisine.**

In [97]:
kapil.groupby("Cuisine")["Price_for_two"].max().sort_values(ascending=False)

Cuisine
North Indian      5000
Thai              5000
Mediterranean     5000
Italian           3500
Iranian           3500
Japanese          3500
Brazilian         3500
Modern Indian     3500
South Indian      3500
Sushi             3500
Asian             3500
Continental       3500
European          3000
Chinese           3000
Bar Food          2600
Seafood           2500
Mexican           2500
Finger Food       2500
American          2500
BBQ               2100
Pizza             2000
Vietnamese        1800
Kerala            1800
Turkish           1800
Bakery            1800
Pasta             1800
Parsi             1800
Burmese           1800
Lebanese          1700
Biryani           1600
Korean            1500
Burger            1500
Andhra            1500
Middle Eastern    1400
Tea               1400
Cafe              1400
Mangalorean       1300
Arabian           1300
Salad             1200
Goan              1200
Gujarati          1200
Rajasthani        1200
French            1100
Awadhi            1100
Desserts          1100
Nepalese          1000
Irish              950
Hyderabadi         950
Bubble Tea         700
Momos              500
Shawarma           300
Beverages          300
Coffee             300
Street Food        200
Name: Price_for_two, dtype: int64

In [98]:
kapil.groupby("Cuisine")["Price_for_two"].min().sort_values()

Cuisine
Street Food        200
South Indian       200
Beverages          200
North Indian       250
Coffee             300
Shawarma           300
Biryani            350
Burger             400
Mexican            450
Italian            500
Cafe               500
Momos              500
Tea                550
Salad              600
Asian              600
Bakery             600
Bubble Tea         700
Korean             700
Japanese           800
Desserts           850
Continental        900
American           950
Sushi              950
Hyderabadi         950
Irish              950
Chinese            950
Burmese           1000
Nepalese          1000
Goan              1000
Kerala            1000
Bar Food          1000
Arabian           1000
Pizza             1000
Awadhi            1100
French            1100
European          1200
Finger Food       1200
Rajasthani        1200
Andhra            1200
Gujarati          1200
Mangalorean       1200
Pasta             1200
Vietnamese        1300
Middle Eastern    1400
BBQ               1400
Parsi             1500
Seafood           1700
Lebanese          1700
Turkish           1800
Mediterranean     1900
Modern Indian     2000
Thai              2000
Brazilian         3500
Iranian           3500
Name: Price_for_two, dtype: int64

# **Which location maximum number of restaurants where the delivery_review_number is greater than 1000?**

In [27]:
kapil[kapil["Delivery_Review_Count"]>1000]["Area"].value_counts()

Area
Indiranagar                      19
HSR                              11
JP Nagar                         10
Sarjapur Road                    10
Marathahalli                      7
Electronic City                   4
Koramangala 4th Block             3
Koramangala 5th Block             3
Bannerghatta Road                 2
Whitefield                        2
Nexus Shantiniketan               2
Phoenix Marketcity Bangalore      2
Craftworks                        2
BluPetal Hotel                    1
Koramangala 7th Block             1
Residency Road                    1
Church Street                     1
Richmond Town                     1
Kalyan Nagar                      1
BTM                               1
Shubh Enclave                     1
Embassy Manyata Business Park     1
Varthur Main Road                 1
Forum Neighbourhood Mall          1
Lavelle Road                      1
Koramangala 6th Block             1
Nexus                             1
1 Sobha                           1
Jayanagar                         1
Orion Mall                        1
Sahakara Nagar                    1
Shanti Nagar                      1
Ascendas Park Square              1
Name: count, dtype: int64

In [36]:
kapil.describe()

,Unnamed: 0,Restuarantid,Price_for_two,Dining_Review_Count,Dining_Rating,Delivery_Rating,Delivery_Review_Count,Price per Person,Total Review Count,Popularity score,Average_Rating
count,501.000000,501.000000,501.000000,501.000000,501.000000,501.000000,501.000000,501.000000,501.000000,501.000000,501.000000
mean,250.000000,251.000000,1684.151697,2381.706587,4.146108,2.723752,1397.766467,842.075848,4041.748503,17075.772854,3.434930
std,144.770508,144.770508,766.089766,3746.925247,0.647402,1.877630,6069.990813,383.044883,8694.034213,35176.229406,1.062293
min,0.000000,1.000000,200.000000,0.000000,0.000000,0.000000,0.000000,100.000000,0.000000,1.000000,0.000000
25%,125.000000,126.000000,1200.000000,301.000000,4.100000,0.000000,0.000000,600.000000,393.000000,1661.500000,2.200000
50%,250.000000,251.000000,1600.000000,1060.000000,4.300000,3.900000,81.000000,800.000000,1522.000000,6284.200000,4.000000
75%,375.000000,376.000000,2000.000000,3078.000000,4.400000,4.100000,612.000000,1000.000000,4349.000000,18529.700000,4.200000
max,500.000000,501.000000,5000.000000,38100.000000,4.900000,4.700000,101300.000000,2500.000000,102981.000000,401626.900000,4.700000

# **Which location maximum number of the less-rated restaurant?**

In [37]:
kapil[kapil["Dining_Rating"]<4.1]["Area"].value_counts()

Area
Indiranagar                                  14
JP Nagar                                      8
HSR                                           7
Jayanagar                                     6
Koramangala 5th Block                         5
St. Marks Road                                3
Phoenix Marketcity Bangalore                  3
MG Road                                       2
New BEL Road                                  2
Electronic City                               2
Forum Rex Walk                                2
BTM                                           2
Embassy Manyata Business Park                 2
Bommanahalli                                  2
Koramangala 4th Block                         2
Bannerghatta Road                             2
Lavelle Road                                  2
Koramangala 7th Block                         2
Marathahalli                                  2
Chanapatna                                    2
Royal Orchid Central                          1
Forum Neighbourhood Mall                      1
Phoenix Mall of Asia                          1
Yelahanka                                     1
Malleshwaram                                  1
Basavanagudi                                  1
Shubh Enclave                                 1
Forum Falcon City Mall                        1
ITPL Main Road                                1
The Chancery Pavilion                         1
Bellandur                                     1
Cunningham Road                               1
Koramangala 8th Block                         1
Kalyan Nagar                                  1
Koramangala 6th Block                         1
RT Nagar                                      1
RMZ Ecoworld                                  1
Church Street                                 1
UB City                                       1
Courtyard by Marriott                         1
Conrad Bengaluru                              1
Varthur Main Road                             1
The Leela Palace                              1
Brigade Road                                  1
Hilton Bangalore Embassy GolfLinks            1
Bhartiya Mall of Bengaluru                    1
1 Sobha                                       1
Seegehalli                                    1
Kumaraswamy Layout                            1
Koramangala 1st Block                         1
Whitefield                                    1
Goldfinch Hotel                               1
Navarathna Agrahara International Airport     1
Koramangala 3rd Block                         1
Rajarajeshwari Nagar                          1
Holiday Inn                                   1
Ibis Hebbal                                   1
Nagawara                                      1
Sarjapur Road                                 1
Aloft Bengaluru Cessna Business Park          1
Name: count, dtype: int64

# **Area wise cheap and expensive restaurant and their average price.**

In [55]:
areas=kapil.groupby("Area")

In [56]:
areas

In [68]:


for group,data in areas:
     temp_df=pd.concat(temp_df,data[data["Price_for_two"]==data["Price_for_two"].max()],axis=0,ignore_index=True)

In [102]:
temp_df.head()

,Unnamed: 0,Restuarantid,Restaurant,Restaurant_Type,Price_for_two,Cuisine,Location,Area,Link,Timing,Dining_Review_Count,Dining_Rating,Delivery_Rating,Delivery_Review_Count,Price per Person,Rating Category,Total Review Count,Popularity score,price range category,Average_Rating
0,242,243,Yauatcha,"Chinese, Asian, Cantonese, Seafood, Tea, Desserts",3000,Chinese,"1 MG Road Mall, MG Road, Bangalore",1 MG Road Mall,https://www.zomato.com/bangalore/yauatcha-mg-road/info,Opens tomorrow at 12noon,3605,4.4,4.3,473,1500,Good,4078,17944.2,High,4.35
1,259,260,Mirage,"Asian, Chinese, Thai, Beverages, Desserts",3000,Asian,"1 Sobha, Bangalore",1 Sobha,https://www.zomato.com/bangalore/mirage-st-marks-road-bangalore/info,5pm – 1am (Today),955,4.2,0.0,0,1500,Good,955,4012.0,High,2.10
2,496,497,Nook - Aloft Bengaluru Cessna Business Park,"North Indian, Continental, Asian, Fast Food, South Indian, Desserts, Waffle",1200,North Indian,"Aloft Bengaluru Cessna Business Park, Kadubeesanahalli, Bangalore",Aloft Bengaluru Cessna Business Park,https://www.zomato.com/bangalore/nook-aloft-bengaluru-cessna-business-park-kadubeesanahalli-bangalore/info,7am – 11:30pm (Today),777,3.9,3.9,236,600,Average,1013,3951.7,Medium,3.90
3,430,431,Tiddly Tavern Bar & Grill,"South Indian, North Indian, Continental, Pizza, Asian, Chinese, Seafood",1000,South Indian,"Ascendas Park Square, Whitefield, Bangalore",Ascendas Park Square,https://www.zomato.com/bangalore/tiddly-tavern-bar-grill-2-whitefield-bangalore/info,12noon – 11:45pm (Today),458,4.2,3.6,8,500,Good,466,1958.2,Low,3.90
4,63,64,Stories Brewery & Kitchen,"North Indian, Continental, Chinese, Finger Food, Beverages, Desserts",1600,North Indian,"BTM, Bangalore",BTM,https://www.zomato.com/bangalore/stories-brewery-kitchen-btm-bangalore/info,12noon – 1am (Today),12100,4.4,4.2,508,800,Good,12608,55476.2,Medium,4.30

In [91]:
temp_df1=temp_df["Price_for_two"].sort_values(ascending=False)

In [103]:
temp_df.loc[temp_df1.index,:].head()

,Unnamed: 0,Restuarantid,Restaurant,Restaurant_Type,Price_for_two,Cuisine,Location,Area,Link,Timing,Dining_Review_Count,Dining_Rating,Delivery_Rating,Delivery_Review_Count,Price per Person,Rating Category,Total Review Count,Popularity score,price range category,Average_Rating
78,189,190,LUPA,"Mediterranean, European, Italian, Salad, Desserts, Beverages",5000,Mediterranean,"MG Road, Bangalore",MG Road,https://www.zomato.com/bangalore/lupa-mg-road-bangalore/info,"12noon – 3:30pm, 7pm – 12midnight (Today)",142,3.3,0.0,0,2500,Average,142,469.6,High,1.65
58,100,101,JW Kitchen - JW Marriott Bengaluru,"North Indian, Continental, Mughlai, Beverages, Desserts, Asian",5000,North Indian,"JW Marriott Bengaluru, Lavelle Road, Bangalore",JW Marriott Bengaluru,https://www.zomato.com/bangalore/jw-kitchen-jw-marriott-bengaluru-lavelle-road/info,6:30am – 11pm (Today),2868,4.2,3.7,264,2500,Good,3132,13155.4,High,3.95
257,458,459,Rim Naam - The Oberoi,"Thai, Asian, Seafood, Desserts",5000,Thai,"The Oberoi, Bengaluru, Bangalore",The Oberoi,https://www.zomato.com/bangalore/rim-naam-the-oberoi-mg-road-bangalore/info,"12:30pm – 3pm, 7:30pm – 11:30pm (Today)",1218,4.9,0.0,0,2500,Excellent,1218,5969.2,High,2.45
256,282,283,Jamavar - The Leela Palace,"North Indian, South Indian",5000,North Indian,"The Leela Palace, Old Airport Road, Bangalore",The Leela Palace,https://www.zomato.com/bangalore/jamavar-the-leela-palace-airport-road/info,Opens tomorrow at 12noon,845,4.3,0.0,0,2500,Good,845,3634.5,High,2.15
194,100,101,JW Kitchen - JW Marriott Bengaluru,"North Indian, Continental, Mughlai, Beverages, Desserts, Asian",5000,North Indian,"JW Marriott Bengaluru, Lavelle Road, Bangalore",JW Marriott Bengaluru,https://www.zomato.com/bangalore/jw-kitchen-jw-marriott-bengaluru-lavelle-road/info,6:30am – 11pm (Today),2868,4.2,3.7,264,2500,Good,3132,13155.4,High,3.95

In [83]:
df = pd.DataFrame(columns=kapil.columns)

In [85]:
for group,data in areas:
     df=pd.concat([df,data[data["Price_for_two"]==data["Price_for_two"].min()]],axis=0,ignore_index=True)

In [88]:
df1=df["Price_for_two"].sort_values()

In [104]:
df.loc[df1.index,:].head()

,Unnamed: 0,Restuarantid,Restaurant,Restaurant_Type,Price_for_two,Cuisine,Location,Area,Link,Timing,Dining_Review_Count,Dining_Rating,Delivery_Rating,Delivery_Review_Count,Price per Person,Rating Category,Total Review Count,Popularity score,price range category,Average_Rating
40,165,166,Samosa Party,"Street Food, Tea, North Indian, Desserts, Mithai, Beverages",200,Street Food,"HSR, Bangalore",HSR,https://www.zomato.com/bangalore/samosa-party-1-hsr-bangalore/info,24 Hours (Today),77,3.9,4.2,2577,100,Average,2654,10351.6,Low,4.05
148,11,12,Magic Mocktails Cafe,"Beverages, Pizza, Burger, Sandwich, Fast Food, Chinese, Street Food, Shake",200,Beverages,"Chanapatna, Bangalore",Chanapatna,https://www.zomato.com/bangalore/magic-mocktails-cafe-2-chanapatna-bangalore/info,Not Provided,0,0.0,0.0,0,100,Below Average,0,1.0,Low,0.00
52,279,280,The Rameshwaram Cafe,"South Indian, Beverages",200,South Indian,"Indiranagar, Bangalore",Indiranagar,https://www.zomato.com/bangalore/the-rameshwaram-cafe-indiranagar-bangalore/info,6:30am – 1am (Today),295,4.2,0.0,0,100,Good,295,1240.0,Low,2.10
171,165,166,Samosa Party,"Street Food, Tea, North Indian, Desserts, Mithai, Beverages",200,Street Food,"HSR, Bangalore",HSR,https://www.zomato.com/bangalore/samosa-party-1-hsr-bangalore/info,24 Hours (Today),77,3.9,4.2,2577,100,Average,2654,10351.6,Low,4.05
183,279,280,The Rameshwaram Cafe,"South Indian, Beverages",200,South Indian,"Indiranagar, Bangalore",Indiranagar,https://www.zomato.com/bangalore/the-rameshwaram-cafe-indiranagar-bangalore/info,6:30am – 1am (Today),295,4.2,0.0,0,100,Good,295,1240.0,Low,2.10

# **Number of restaurants for each type of cuisine.**

In [96]:
kapil.groupby("Cuisine")["Restaurant"].count().sort_values(ascending=False)

Cuisine
North Indian      135
Continental        74
Asian              36
Cafe               30
Chinese            27
Italian            21
Bar Food           21
South Indian       11
Pizza              11
Finger Food        11
Japanese            9
American            9
Biryani             9
Burger              7
Modern Indian       7
Thai                6
Andhra              5
BBQ                 5
Kerala              5
Seafood             4
European            4
Bakery              4
Sushi               3
Korean              3
Mediterranean       3
Desserts            2
Mexican             2
Tea                 2
Arabian             2
Salad               2
Pasta               2
Parsi               2
Beverages           2
Vietnamese          2
Burmese             2
Mangalorean         2
Goan                2
Momos               1
Shawarma            1
Turkish             1
Bubble Tea          1
Hyderabadi          1
Brazilian           1
Street Food         1
Gujarati            1
Coffee              1
Nepalese            1
Middle Eastern      1
Rajasthani          1
Awadhi              1
French              1
Lebanese            1
Irish               1
Iranian             1
Name: Restaurant, dtype: int64